# Python
__pycache__/
*.py[cod]
*.pyd
*.so
.venv/
venv/
env/
ENV/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Logs
*.log

# Environment files
.env
.env.*

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Docker local/temporary files
docker-compose.override.yml

#READMEs
NOTES_EXERCISE.md
NOTES_FOR_TEACHER.md
docker-compose.yml
